body{
    margin:0;
    padding: 0;
    background-color: rgb(240, 216, 181);
}

h1{
    display:flex;
    justify-content: center;
    font-size: 100px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 10%;
}

.createroom{
    display: inline-flex;
    justify-content: center;
    font-size: 100px;
    margin-bottom: 30px;
    margin-left: 32%;
}

.joinroom{
    display: inline-flex;
    justify-content: center;
    font-size: 100px;
    margin-left: 5%;
}

button{
    font-size: 50px;
}

.flashes { 
    list-style: none; padding: 0; 
}

.flashes li { 
    margin: 0.5em 0; 
    padding: 0.8em 1.2em; 
    border-radius: 5px; 
}

.success { 
    background: #d4f9d4; 
    color: #228b22; 
}

.warning { 
    background: #fff4e5; 
    color: #884700; 
}

.alert  { 
    background: #fee2e2; 
    color: #a70000; 
}