body{

    background-color: rgb(240, 216, 181);
}

.ingredientbox{
    width: 80%;
    height: 100px;
    border: 5px;
    border-color: black;
    outline: auto;
    border-style: solid;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 10%;
}

h1{
    color: black;
}