body{

    background-color: rgb(240, 216, 181);
}

.ingredientbox{
    width: 80%;
    height: 100px;
    border: 5px;
    border-color: black;
    outline: auto;
    border-style: solid;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-left: 10%;

    margin-bottom: 10%;
}

h1{
    color: black;
}

.answerbox{
    text-align: center;
}

.flashes { 
    list-style: none; padding: 0; 
}

.flashes li { 
    margin: 0.5em 0; 
    padding: 0.8em 1.2em; 
    border-radius: 5px; 
}

.success { 
    background: #d4f9d4; 
    color: #228b22; 
}

.warning { 
    background: #fff4e5; 
    color: #884700; 
}

.alert  { 
    background: #fee2e2; 
    color: #a70000; 
}