body{
    margin:0;
    padding: 0;
    background-color: rgb(240, 216, 181);
}

.lobbybox{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    margin-bottom: 50px;
}

.playlist{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.startbutton{
    text-align: center; 
}

button{
    font-size: 50px;
    margin-top: 0.3rem auto;
    padding: 0.5rem 1.4rem;
    border-radius: 999px;
    border: none;
    background: #ff5c5c;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.flashes { 
    list-style: none; padding: 0; 
}

.flashes li { 
    margin: 0.5em 0; 
    padding: 0.8em 1.2em; 
    border-radius: 5px; 
}

.success { 
    background: #d4f9d4; 
    color: #228b22; 
}

.warning { 
    background: #fff4e5; 
    color: #884700; 
}

.alert  { 
    background: #fee2e2; 
    color: #a70000; 
}