body{
    margin:0;
    padding: 0;
    background-color: rgb(240, 216, 181);
}

.lobbybox{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    margin-bottom: 50px;
}

.playlist{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
}

.startbutton{
    text-align: center; 
}

button{
    padding: 10px 10px 10px;
    font-size: 50px;
    border-radius: 3rem;
    background-color: rgb(154, 180, 141);
    color:rgb(50, 50, 50);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flashes { 
    list-style: none; padding: 0; 
}

.flashes li { 
    margin: 0.5em 0; 
    padding: 0.8em 1.2em; 
    border-radius: 5px; 
}

.success { 
    background: #d4f9d4; 
    color: #228b22; 
}

.warning { 
    background: #fff4e5; 
    color: #884700; 
}

.alert  { 
    background: #fee2e2; 
    color: #a70000; 
}