h1{
    justify-self: center;
    margin-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    margin:0;
    padding: 0;
    background-color: rgb(240, 210, 166);
}


.container{
    width: 630px;
    margin: 90px auto;
    position: relative;

    padding: 25px 0 30px 25px;
    background: rgb(171, 43, 43);
    border-bottom: 10px solid black;
    border-radius: 3rem;

}

.login-text{
    font-size: 20px;    
    color:white;
    text-align: center;
    
}

.container form{
    display: flex;
    gap: 5px;
    flex-direction: column;
    padding-left: auto;
    width: 300px;
}

.login-detail{
    color: white;
    font-size: 20px;
}

.login-button{
    margin-top: 10%;
    width: 200px;
    height: 50px;
    background-color: rgb(126, 146, 245);

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-left: 50px;
}
  
  td, th {
    border: 5px solid black;
    text-align: left;
    padding: 10px;
}

  tr:nth-child(even) {
    background-color: rgb(255, 184, 77);
}

.flashes { 
    list-style: none; padding: 0; 
}

.flashes li { 
    margin: 0.5em 0; 
    padding: 0.8em 1.2em; 
    border-radius: 5px; 
}

.success { 
    background: #d4f9d4; 
    color: #228b22; 
}

.warning { 
    background: #fff4e5; 
    color: #884700; 
}

.alert  { 
    background: #fee2e2; 
    color: #a70000; 
}

.login-button{
    background-color: #f4eb39;
    border: 4px solid black;
    border-radius: 3rem;
    margin-left: 600px;
    margin-top: 50px;
}

button{
    margin-top: 10%;
    width: 200px;
    height: 50px;
    background-color: #f90505;
    border: 4px solid black;
    border-radius: 3rem;
    margin-left: 600px;
    margin-top: 50px;
    font:bolder;

}

.topbar { 
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    padding: 8px; 
}
.topbar a, .topbar form { 
    margin-left: 1em; 
}

.welcome-message {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.logout-button form, .logout-button button{
    margin-right: 1em;
    border-radius: 1rem;
    width: 100px;
    height: 40px;
    justify-content: flex-end;
}