<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Dashboard{% endblock %}
    {% block content %}
    <nav class="top-nav">
        <a href="{{ url_for('logout') }}" class="logout-btn">Log Out</a>
    </nav>
    
    <h1>Main Menu</h1>
    <div class="mainbox">
        <div class="createroom">
            <a href="{{url_for('creategame')}}">
                <button>Create Room</button>
            </a>
        </div>

        <div class="joinroom">
            <form action = "{{url_for('joingamepost')}}" method="POST">
                <input type="text" name="game_id" placeholder="Room Code:">
                <button>Join Room</button>
            </form>
            
             
        </div>
    </div>
    {% endblock %}
</body>
</html>