<!DOCTYPE html>
<html>
    <head>
        <title>Lab 8 Project</title>
        <link rel="stylesheet" href="/static/login.css">
    </head>

    <body>
        <img class="logo" src="/static/pantrypaniclogo.png">
        <div class="container">
            <div class="login-text">
                <h1>Login Page</h1>
            </div>

            <div class="falling-bg">
                <div class="ingredient">🍅</div>
                <div class="ingredient">🥦</div>
                <div class="ingredient">🧀</div>
            </div>
            

            <form method="POST" action="{{url_for('login')}}">
                <p class="login-detail"> Username</p>
                <input type="text" placeholder="Enter username" name="username">
                <p class="login-detail"> Password</p>
                <input type="password" placeholder="Enter password" name="password">
                <button class="login-button" type="submit"> Log In</button>
            </form>
            
            <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
        </div>
    </body>
</html>