<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up 🍅🥦🧀</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Sign Up{% endblock %}
    {% block content %}

    <div class="login-container">
        <h1>Sign Up 🍅🥦🧀</h1>

        <div class="falling-bg">
            <div class="ingredient">🍅</div>
            <div class="ingredient">🥦</div>
            <div class="ingredient">🧀</div>
        </div>
        
        
        <form method="POST">
            <div class="form-row">
                <label>Name</label>
                <input type="text" name="display_name" placeholder="Display name" required>
            </div>

            <div class="form-row">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username" required>
            </div>

            <div class="form-row">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password" required>
            </div>

            <button type="submit" class='create-account'>Create Account</button>
        </form>

        <p>Already have an account? <a href="{{ url_for('login') }}">Log in</a></p>
    </div>
    {% endblock %}
</body>
</html>