{% extends "base.html" %}

{% block content %}
<h1>Vote for Your Favorite Dish</h1>

<p>Game ID: {{ game_id }} | Round {{ round_id }}</p>

<ul>
    {% for r in responses %}
    <li>
        {{ r.text }} — Votes: {{ r.votes }}

        {% if r.user_id != current_user.id %}
        <form action="{{url_for('addvote', game_id = game_id, round_id = round_id, response_id = r.id)}}" method="POST">
            <button type="submit">Vote</button>
        </form>
    </li>
    {% endfor %}
</ul>


<a href="{{ url_for('dashboard') }}">Return to Dashboard</a>
{% endblock %}
