<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WINNER!</title>
    <link rel="stylesheet" href="/static/winner.css">
</head>
<body>
    <h1>Final Scoreboard: </h1>
    <ul>
        {% for p in players%}
        <li>
            {{p.user.display_name}} - {{p.score}} points
        </li>
        {% endfor %}
    </ul>

    <a href="{{url_for('dashboard')}}">Return to dashboard</a>
</body>
</html>